.App {
  width: 700px;
  border: 2px solid dimgrey;
  margin: 50px;
  color: dimgray;
}
.top {
  height: 40px;
  background-color: steelblue;
  border-bottom: 2px solid dimgrey;
}
.blogNav {
  padding: 0px 20px;
}
.mainTitle {
  margin-left: 40%;
}
.ul {
  margin-left: 22%;
}
li {
  display: inline-block;
  list-style: none;
  margin-left: 20px;
  text-decoration: none;
  margin-bottom: 20px;
}
.switch {
  border: 2px solid dimgrey;
  padding: 20px;
  margin-bottom: 30px;
}
button {
  margin: 10px;
  padding: 5px;
  width: 60px;
  background-color: steelblue;
  color: white;
}

